[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/CharmedBaryon/CommonLibSSE-NG.git
[submodule "extern/AppCore"]
	path = extern/AppCore
	url = https://github.com/ultralight-ux/AppCore.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
